# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Import datasets

In [2]:
# define the path and assign dataframes to the "df" variables

path = r'C:\Users\Jakov\2023 Instacart Basket Analysis'

#df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)
#df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
#df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)
df_ords_prods_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

df_ords_prods_prior.shape

In [4]:
df_ords_prods_prior[df_ords_prods_prior.duplicated()]

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [8]:
df_ords_prods_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [20]:
# merge df_ords_prods_prior dataframe with df_ords dataframe on 'order_id' as a common column

df_merged = df_ords_prods_prior.merge(df_ords, on = 'order_id', indicator = True)

In [21]:
df_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))