# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Load data

In [3]:
# define the path and assign dataframes to the "df" variables

path = r'C:\Users\Jakov\2023 Instacart Basket Analysis'

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_with_names_merged.pkl'))

# Add price label column

In [12]:
df = df_ords_prods_merge[:1000000]

In [6]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Jakov\AppData\Local\Temp\ipykernel_11356\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts()

Mid-range product    983807
Low-range product     16193
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

13.7

In [13]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Jakov\AppData\Local\Temp\ipykernel_11356\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [14]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df['price_range_loc'].value_counts()

Mid-range product    983807
Low-range product     16193
Name: price_range_loc, dtype: int64

In [17]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range'] = 'High-range product'

In [18]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range'] = 'Mid-range product'

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range'] = 'Low-range product'

In [20]:
df_ords_prods_merge['price_range'].value_counts()

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

In [22]:
df_ords_prods_merge['orders_day_of_a_week'].value_counts()

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_a_week, dtype: int64

In [24]:
result = []

for value in df_ords_prods_merge["orders_day_of_a_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [25]:
df_ords_prods_merge['busiest_day'] = result

In [26]:
df_ords_prods_merge['busiest_day'].value_counts()

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

# TASK

# 02.

In [34]:
# Create new list for each purchased product with category of a day saleswise 

values = []

for value in df_ords_prods_merge["orders_day_of_a_week"]:
  if (value == 0 ) | (value == 1):
    values.append("Busiest days")
  elif (value == 3) | (value == 4):
    values.append("Slowest days")
  else:
    values.append("Regular days")

In [35]:
# assign newly created list to new column

df_ords_prods_merge['busiest_days'] = values

In [36]:
df_ords_prods_merge

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_a_week,order_hour_of_day,days_since_prior_order,first_order_ever,product_name,aisle_id,department_id,prices,_merge,price_range,busiest_day,busiest_days
0,2,33120,1,1,202279,3,5,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days
1,26,33120,5,0,153404,2,0,16,7.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days
2,120,33120,13,0,23750,11,6,8,10.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days
3,327,33120,5,1,58707,21,6,9,8.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Regularly busy,Regular days
4,390,33120,28,1,166654,48,0,12,9.0,False,Organic Egg Whites,86,16,11.3,both,Mid-range product,Busiest day,Busiest days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3265099,43492,3,0,111311,2,3,10,5.0,False,Gourmet Burger Seasoning,104,13,4.8,both,Low-range product,Regularly busy,Slowest days
32404855,3361945,43492,19,0,142932,25,3,10,5.0,False,Gourmet Burger Seasoning,104,13,4.8,both,Low-range product,Regularly busy,Slowest days
32404856,3267201,33097,2,0,183867,19,3,18,3.0,False,Piquillo & Jalapeno Bruschetta,81,15,9.4,both,Mid-range product,Regularly busy,Slowest days
32404857,3393151,38977,32,0,79056,1,4,13,NaN,True,Original Jerky,100,21,1.5,both,Low-range product,Least busy,Slowest days
32404858,3400803,23624,7,0,152189,4,3,14,2.0,False,Flatbread Pizza All Natural,79,1,1.6,both,Low-range product,Regularly busy,Slowest days

# Now, days are better categorized based on how many products were bought. In the previous column, days are not properly categorized.

In [38]:
df_ords_prods_merge['busiest_days'].value_counts()

Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

# 04.

In [44]:
df_ords_prods_merge['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [47]:
# Create the new list and fill it with periods of time 

periods = []

for value in df_ords_prods_merge['order_hour_of_day']:
    if (value >= 9) & (value <= 17):
        periods.append('Most orders')
    elif (value == 8) | (value == 18) | (value == 19):
        periods.append('Average orders')
    else:
        periods.append('Fewest orders')

In [49]:
# assign newly created list to new column

df_ords_prods_merge['busiest_period_of_day'] = periods

# 05.

In [51]:
df_ords_prods_merge['busiest_period_of_day'].value_counts()

Most orders       23205725
Average orders     4612925
Fewest orders      4586209
Name: busiest_period_of_day, dtype: int64

# 07.

In [52]:
# export the dataframe to pkl file

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_with_derived_columns.pkl'))