# Import libraries

In [23]:
import pandas as pd
import numpy as np
import os

# Load data

In [24]:
# define the path and assign dataframe to the "df" variable

path = r'C:\Users\Jakov\2023 Instacart Basket Analysis'

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# 04.

In [25]:
df.shape

(206209, 10)

In [26]:
# rename columns

df.rename(columns = {'First Name': 'first_name', 'Surnam': 'last_name', 'Gender': 'gender', 'STATE': 'state', 'Age': 'age'}, inplace = True)

In [27]:
df.head()

,user_id,first_name,last_name,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [28]:
# delete columns

df.drop(columns=['first_name', 'last_name'], inplace = True, axis = 1)

# 05.

In [29]:
# check for mixed type columns

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [30]:
# check for null values

df.isnull().sum()

user_id         0
gender          0
state           0
age             0
date_joined     0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [31]:
# create view with duplicate rows

df[df.duplicated()]

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

# Load instacart data

In [33]:
df_instacart = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_with_aggregations.pkl'))

SystemError: deallocated bytearray object has exported buffers

MemoryError:

In [15]:
df_instacart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int64
 3   reordered               int64
 4   user_id                 int64
 5   order_number            int64
 6   orders_day_of_a_week    int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   first_order_ever        bool
 10  product_name            object
 11  aisle_id                int64
 12  department_id           int64
 13  prices                  float64
 14  _merge                  category
 15  price_range             object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
 19  max_order               int64
 20  loyalty_flag            object
 21  avg_price               float64
 22  spending_flag           object
 23  med_freq_order          float64
 24  Frequency_flag          object
dtypes: bool(1), category(1), float64(4), int64(11), object(8)
memory usage: 5.9+ GB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   gender        206209 non-null  object
 2   state         206209 non-null  object
 3   age           206209 non-null  int64
 4   date_joined   206209 non-null  object
 5   n_dependants  206209 non-null  int64
 6   fam_status    206209 non-null  object
 7   income        206209 non-null  int64
dtypes: int64(4), object(4)
memory usage: 12.6+ MB

In [17]:
# delete "_merge" column from a dataframe

df_instacart.drop(columns=['_merge'], inplace = True, axis = 1)

In [18]:
# merge dataframes with left join

df_merged = df_instacart.merge(df, how = 'left', on = 'user_id', indicator = True)

In [19]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
# delete the "_merge" column

df_merged.drop('_merge', inplace = True, axis = 1)

In [21]:
# export the dataframe to pkl file

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'instacart_with_users.pkl'))

In [22]:
df_merged.shape

(32404859, 31)